@font-face {
  font-family: "iconfont"; /* Project id 5121213 */
  src: url('fonts/font_5121213_daks14v1j5c.woff2') format('woff2'),
       url('fonts/font_5121213_daks14v1j5c.woff') format('woff'),
       url('fonts/font_5121213_daks14v1j5c.ttf') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-douyin:before {
  content: "\e8db";
}

